@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
input {
    font-family: 'Poppins', sans-serif;
}
.font-pfd {
    font-family: 'Playfair Display', serif;
}

.social-icon {
    @apply fill-neutral-500 hover:fill-amber-400
}

input[type="checkbox"] {
    accent-color: #fbbf24;
}

